/* General container styles */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .login-card {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    position: relative;
  }
  
  .login-header {
    background-color: #800080; /* Purple background */
    padding: 15px;
    border-radius: 8px 8px 0 0;
    text-align: center;
  }
  
  .login-header h2 {
    color: white;
    font-size: 1.8rem;
    margin: 0;
  }
  
  .login-header p {
    color: white;
    font-size: 1rem;
    margin: 5px 0 0;
  }
  
  .input-group {
    font: monospace;
    padding-top: 5%;
    margin-bottom: 20px;
  }
  
  .input-group label {
    font: monospace;
    display: block;
    font-size: 1.1rem;
    margin-bottom: 5px;
    color: #555;
  }
  
  .input-group input {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    transition: border 0.3s;
  }
  
  .input-group input:focus {
    border-color: #800080;
  }
  
  .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .options label {
    font-size: 0.9rem;
    color: #555;
  }
  
  .forgot-password {
    font-size: 0.9rem;
    color: #800080;
    text-decoration: none;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  
  /* Button styles */
  .login-btn {
    width: 100%;
    padding: 12px;
    background-color: #800080;
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-btn i {
    margin-right: 10px;
  }
  
  .login-btn:hover {
    background-color: #660066; /* Darker purple on hover */
  }
  